<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351436127536-jlnmej24tsmk1pffae69q1nmgugaemh3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351436127536-jlnmej24tsmk1pffae69q1nmgugaemh3</string>
	<key>API_KEY</key>
	<string>AIzaSyAr2evfcAeTn-LTA2WXg4lXVijElRSBGKg</string>
	<key>GCM_SENDER_ID</key>
	<string>351436127536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.sk3p7ic.JagTrucks</string>
	<key>PROJECT_ID</key>
	<string>mad2-jagtrucks</string>
	<key>STORAGE_BUCKET</key>
	<string>mad2-jagtrucks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351436127536:ios:4850a97a48375ee2649cf5</string>
</dict>
</plist>